<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>railro</title>
	
	<!-- config fragment -->
	<th:block th:replace="fragment/config :: configCssFragment"></th:block>
</head>

<body>

	<!-- header fragment -->
	<th:block th:replace="fragment/header :: headerFragment"></th:block>
	
	
	<!-- content fragment : page -->
	<th:block layout:fragment="content"></th:block>
	
	
	<!-- footer fragment -->
	<th:block th:replace="fragment/footer :: footerFragment"></th:block>
	
	<th:block th:replace="fragment/config :: configScriptFragment"></th:block>

</body>
</html>
