<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default_layout}">
<head>
<title>info write</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

<style type="text/css">
	#aa {
		text-align: center;
	}
	

</style>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:inline="javascript">

</script>
</head>
<body>



<div layout:fragment="content">
	<!-- 사진 영역 -->
	<div class="hero-wrap js-fullheight" th:style="'background: url('+@{/images/bg_about.jpg}+'); no-repeat fixed; background-size: cover;'">
	  <div class="overlay"></div>
	  <div class="container">
	    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
	      <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
	        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>about</span></p>
	        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">레일로란?</h1>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 내용 영역 -->
    <section class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-6 ftco-animate img about-image">
	    			<img alt="team" src="/images/team.jpg" style="width: 550px;height: 400px;">
	    		</div>
	    		<div class="col-md-6 ftco-animate p-md-5">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">소개합니다</a>

		              <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">기획 의도</a>

		              <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">기대 효과</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
		              	<div>
			                <h2 class="mb-4">KOSTA 대용량 웹서비스를 위한<br> MSA Full-Stack SW 개발자 양성과정 참가</h2>
			              	<p>6개월의 긴 기간동안 Java 기반의 언어를 이용하여 웹 개발을 배웠습니다.</p>
			                <p>조민주, 차영우, 최수빈, 최은철, 최정남, 황보현 6명이 모여서 약 2주간 개발을 진행했습니다.</p>
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
		                <div>
			                <h2 class="mb-4">기차 여행을 계획하기 위한 플랫폼의 부재</h2>
			              	<p>최근 5년간 국민들의 주요 여행 수단으로 철도가 점점 인기를 끌고 있습니다.<br> 특히 1020대 및 60대 이상 노년층들의 여행 수단으로 기차에 대한 수요가 높습니다.<br> 이에 따라 개편된 내일로도 전 연령대로 발급을 확대하여 나머지 연령대의 사람들에게도 기차여행에 대한 수요가 늘 것으로 전망하고 있습니다. </p>
			                <p>따라서 철도를 기반으로 한 여행계획 플랫폼의 필요성을 느끼게 되었고, 정보 공유를 위한 플랫폼이 필요함을 느끼게 되어 "일정계획 플랫폼 서비스"를 구상하게 되었습니다.</p>
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
		                <div>
			                <h2 class="mb-4">내일로를 더 많은 사람이 알았으면 하는 바램</h2>
			                <p>여행 계획을 세우려고 하는 사람들에게 기능을 제공하고, 사용자가 남긴 후기를 통해 다양한 여행 예시를 볼 수 있고, 여행 계획을 더 편리하게 짤 수 있게끔 정보를 제공합니다.</p>
			                <p>더 나아가, ‘내일로’ 서비스의 홍보와 수요 증가로 내수경제 활성화를 기대합니다.</p>
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-start mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate">
          	<span class="subheading">FAQS</span>
            <h2 class="mb-4"><strong>자주 묻는 질문</strong></h2>
          </div>
        </div>  
    		<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div id="accordion">
    					<div class="row">
    						<div class="col-md-6">
    							<div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menuone" aria-expanded="true" aria-controls="menuone">내일로란 무엇인가요?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
						        </div>
						        <div id="menuone" class="collapse show">
						          <div class="card-body">
												<p>코레일에서 판매하는 자유여행패스 상품입니다. 누구나, 언제든지 이용기간동안 기차를 무제한으로 탈 수 있습니다. 3일권, 7일권이 있고 일반적으로 입석 또는 자유석으로 운영되나 KTX와 일반열차의 좌석을 정해진 횟수만큼 무료로 지정할 수 있습니다.</p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menutwo" aria-expanded="false" aria-controls="menutwo">내일로 티켓은 어디서 발권하나요?<span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
						        </div>
						        <div id="menutwo" class="collapse">
						          <div class="card-body">
												<p>내일로 티켓은 코레일 홈페이지 또는 코레일 어플리케이션에서 구매 및 발권할 수 있습니다. </p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu3" aria-expanded="false" aria-controls="menu3"> 혜택역이 대체 뭘까?  <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
						        </div>
						        <div id="menu3" class="collapse">
						          <div class="card-body">
												<p>내일로 특성상 관광시키기 위한 시스템이기 때문에 혜택역을 설정해두면 그 역에 내일로의 혜택을 받을 수 있는 역으로 지정이 되면서 이용하면 다양한 제휴혜택(선물 또는 숙박비 할인 등)을 받을 수 있습니다.<br>*단, 혜택역 미지정 시, 이용이 제한될 수 있습니다.</p>
						          </div>
						        </div>
						      </div>
    						</div>

    						<div class="col-md-6">
    							<div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu4" aria-expanded="false" aria-controls="menu4">내일로 패스 좌석 지정 방법 <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
						        </div>
						        <div id="menu4" class="collapse">
						          <div class="card-body">
												<p>1) 코레일톡에서 '내일로' 구매하기<br>[관광상품] > [내일로 두번째 이야기] > 구매 동의 > 패스 이용정보 입력 및 결제 </p>
												<p>2) 코레일톡에서 '내일로 두번째 이야기' 좌석지정하기<br> * 내일로는 좌석(또는 입석) 지정 후 이용할 수 있으며, 좌석(또는 입석) 승차권 없이는 이용이 불가능합니다.<br>[승차권확인] > [좌석지정] > 좌석지정 이용 구간, 날짜, 인원 선택 > 좌석지정 승차권 예매 > [결제하기] > [결제/발권] </p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu5" aria-expanded="false" aria-controls="menu5">내일로티켓도 매진될 수 있나요? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
						        </div>
						        <div id="menu5" class="collapse">
						          <div class="card-body">
						          
												<p>네 매진될 수 있습니다.</p> 
												<p>내일러들의 집중으로 차내가 혼잡해질 수 있기 때문에 이를 분산시키기 위해 일일판매량이 정해져 있기 때문입니다.
												주말, 공휴일에는 더 혼잡하므로 발매가 탄력적으로 축소될 수도 있습니다.
												때문에 계획없이 막상 여행시작당일에 티켓을 구입하려다 여행일정에 차질이 생길 수 있겠죠?
												그러니 미리 여행계획을 세워 사용개시일전에 구입하는것이 좋습니다. </p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu6" aria-expanded="false" aria-controls="menu6">내일로 주의사항 <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
						        </div>
						        <div id="menu6" class="collapse">
						          <div class="card-body">
												<p>- 열차 탑승 시 "내일로 패스 티켓, 좌석(입석) 이용권, 신분등" 전부 지참하셔야 하며, 미지참 시 30배의 부과운임이 징수됩니다.</p>
												<p>- 종이승차권(MS중기권)은 분실 시 재발매 되지 않습니다.</p>
												<p>- 열차 지연보상 및 마일리지 적립대상에서 제외되며, 서면상 기재하지 않은 사항은 철도공사가 정한 여객운송약관 및 관련규정을 적용합니다.</p>
												<p>- 내일로 패스의 반환, 면경은 이용개시일 1일전까지만 가능하며 사용 당일(00시 기준)부터는 절대 불가합니다.</p>
												<p>- 캡처한 내일로 패스는 사용할 수 없습니다.</p>
						        </div>
						      </div>
    						</div>
    					</div>
				    </div>
    			</div>
    		</div>
    	</div>
    </section>
</div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


</body>
</html>