<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footerFragment">
	<footer class="ftco-footer ftco-bg-dark ftco-section">
	  <div class="container">
	    <div class="row mb-5">
	      <div class="col-md">
	        <div class="ftco-footer-widget mb-4">
	          <h2 class="ftco-heading-2">Rail: ro </h2>
	          <p>KOSTA 212기 Final Project</p>
	          <p>기차의 선로와 ‘내일로’ 서비스를 떠올리게끔 하여 레일 위에서 내일로 서비스를 이용할 수 있다는 의미</p>
	          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
	            <li class="ftco-animate"><a href="https://twitter.com/korail_official?lang=ko"><span class="icon-twitter"></span></a></li>
	            <li class="ftco-animate"><a href="https://www.facebook.com/KoreaRailroad/"><span class="icon-facebook"></span></a></li>
	            <li class="ftco-animate"><a href="https://www.instagram.com/korail_official_/?hl=ko"><span class="icon-instagram"></span></a></li>
	          </ul>
	        </div>
	      </div>
	      <div class="col-md">
	        <div class="ftco-footer-widget mb-4 ml-md-5">
	          <h2 class="ftco-heading-2">Information</h2>
	          <ul class="list-unstyled">
	            <li><a href="/about" class="py-2 d-block">About</a></li>
	          </ul>
	        </div>
	      </div>
	      <div class="col-md">
	         <div class="ftco-footer-widget mb-4">
	          <h2 class="ftco-heading-2">Customer Support</h2>
	          <ul class="list-unstyled">
	            <li><a href="/about" class="py-2 d-block">FAQ</a></li>
	            <li><a href="/about" class="py-2 d-block">Booking Tips</a></li>
	            <li><a href="/about" class="py-2 d-block">How it works</a></li>
	          </ul>
	        </div>
	      </div>
	      <div class="col-md">
	        <div class="ftco-footer-widget mb-4">
	        	<h2 class="ftco-heading-2">Have a Questions?</h2>
	        	<div class="block-23 mb-3">
	           <ul>
	             <li><a href="https://map.kakao.com/link/to/오리역,37.339832,127.1067963" target="_blank"><span class="icon icon-map-marker"></span></a><span class="text">Ori Station, Gyeongi-do, Republic of Korea</span></li>
	             <li><a href="#"><span class="icon icon-phone"></span><span class="text">+82 1234-5678</span></a></li>
	             <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@railro.com</span></a></li>
	           </ul>
	         </div>
	        </div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-12 text-center">
	
	        <p>© Rail: ro Co.,Ltd.
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Rail: ro Team</a>
	</p>
	      </div>
	    </div>
	  </div>
	</footer>
	
</div>