<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="headerFragment">
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	  <div class="container">
	    <a class="navbar-brand" href="index.html">Railro</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="oi oi-menu"></span> Menu
	    </button>
	
	    <div class="collapse navbar-collapse" id="ftco-nav">
	      <ul class="navbar-nav ml-auto">
	       
	        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
	        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	        <li class="nav-item"><a href="tour.html" class="nav-link">Tour</a></li>
	        <li class="nav-item"><a href="hotel.html" class="nav-link">Hotels</a></li>
	        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
	        
	        <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/member/mypage(memberId=${#authentication.principal.memberId})}" id="mypage_link" class="nav-link"><i class="icon-user"></i></a></li>
	        <li class="nav-item" sec:authorize="isAuthenticated()" th:if="${noticeList}==null"><a th:href="@{/member/notice(memberId=${#authentication.principal.memberId})}" class="nav-link"><i class="icon-bell-slash"></i></a></li>
	        <li class="nav-item" sec:authorize="isAuthenticated()" th:if="${noticeList}"><a th:href="@{/member/notice(memberId=${#authentication.principal.memberId})}" class="nav-link"><i class="icon-bell-o"></i></a></li>
	        <li class="nav-item cta" sec:authorize="isAnonymous()">
	        	<a href="/member/loginForm" class="nav-link"><span>Login</span></a>
	        </li>
	        <li class="nav-item cta" sec:authorize="isAuthenticated()">
	        	<form th:action="@{/logout}" method="post">
	        	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
	        		<button type="submit" style=" width:80px;

    background-color: #f8585b;

    border: none;

    color:#fff;

    padding: 8px 0;

	border-radius: 20px;


    text-align: center;" id="btn_logout" class="nav-link" >logout</button>
	        		
	        	</form>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	
</div>
