<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default_layout}">
<head>
<title>free list</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<th:block layout:fragment="css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

<style type="text/css">
	table {
		table-layout: fixed;
	}
	th, td {
		text-align: center;
	}
</style>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
	$(function() {
		let nowPage /*= [[ ${nowPage} ]]*/;
		
		if(nowPage==null) {
			nowPage = 1;
		};
		
		//alert('#page'+nowPage);
		$('#page'+nowPage).parent().addClass('active');
	});

</script>

</head>
<body>

<div layout:fragment="content">
	<!-- 사진 영역 -->
	<div class="hero-wrap js-fullheight" th:style="'background: url('+@{/images/bg_2.jpg}+');'">
	  <div class="overlay"></div>
	  <div class="container">
	    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
	      <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
	        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
	        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tips &amp; Articles</h1>
	      </div>
	    </div>
	  </div>
	</div>
	
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row d-flex">
					<table class="table thead-dark">
						<colgroup>
							<col width="6%">
							<col width="15%">
							<col width="52%">
							<col width="15%">
							<col width="6%">
							<col width="6%">
						</colgroup>
						<tr>
							<th>글번호</th>
							<th>작성자</th>
							<th>제목</th>
							<th>등록일</th>
							<th>조회수</th>
							<th>추천수</th>
						</tr>
						<tr th:each="content : ${freeSearchList}">
							<td th:text="${content.freeBno}"></td>
							<td th:text="${content.memberId}"></td>
							<td style="text-align: left;"><a th:text="${content.freeSubject}" th:href="@{'/board/free/read/'+${content.freeBno}}"></a></td>
							<td th:text="${#strings.substring(content.freeRegdate, 0, 10)}"></td>
							<td th:text="${content.freeReadnum}"></td>
							<td th:text="${content.freeVote}"></td>
						</tr>
					</table>
					<a th:href="@{/board/free/write}" class="btn">글쓰기</a>
				</div>
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<!-- 페이징처리 -->
  						<ul th:with="start=${(freeSearchList.number/blockCount)*blockCount + 1},
  														end=${start+(blockCount-1) > freeSearchList.totalPages ? freeSearchList.totalPages : (start+(blockCount-1))}">
								<!-- 맨 앞으로 -->
					      <li th:if="${start > 1}">
				        	<a th:href="@{/board/free/list?(nowPage=1)}" th:text="'<<'"></a>
				        </li>
								<!-- 앞으로 -->
				        <li th:if="${start > 1}">
				        	<a th:href="@{/board/free/list?(nowPage=${start - blockCount})}" th:text="'<'"></a>
				        </li>
								<!-- 페이지 번호 출력 -->
				        <li th:each="page : ${#numbers.sequence(start, end)}">
				        	<a th:href="@{/board/free/list?(nowPage=${page})}" th:id="page+${page}" th:text="${page}"></a>
				        </li>
								<!-- 뒤로 -->
					      <li th:if="${end < freeSearchList.totalPages}">
				        	<a th:href="@{/board/free/list?(nowPage=${start + blockCount})}" th:text="'>'"></a>
				        </li>
								<!-- 맨 뒤로 -->
				        <li th:if="${end < freeSearchList.totalPages}">
				        	<a th:href="@{/board/free/list?(nowPage=${freeSearchList.totalPages})}" th:text="'>>'"></a>
				        </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 검색 form -->
		<form th:action="@{/board/free}" method="GET">
			<div class="form-group">
				<select name="type" class="form-control">
					<option value="" >--선택--</option>
					<option value="subject" th:selected="@{/board/free/subjectSearch?}">제목</option>
					<option value="writer" th:selected="@{/board/free/idSearch?}">작성자</option>
				</select>
			</div>
			<div class="btn-group" role="group" aria-label="Basic example">
				<input name="keyword" type="text" placeholder="검색어를 입력해주세요">
				<button id="searchBtn">검색</button>
			</div>
		</form>
			<br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


</body>
</html>