@charset "UTF-8";
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;height:100vh; margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
#menu_wrap2 {position:absolute; top:0;right:10px;bottom:0;width:250px;height:100vh; margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap2 hr {height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap2 h2 {text-align: center;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}

#placesList2 li {list-style: none;}
#placesList2 .cityItem {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList2 .cityItem span {display: block;margin-top:4px;}
#placesList2 .cityItem h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList2 .cityItem .info{padding:10px 0 10px 55px;}
#placesList2 .info .gray {color:#8a8a8a;}
#placesList2 .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList2 .info .tel {color:#009900;}
#placesList2 .cityItem .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList2 .cityItem .marker_1 {background-position: 0 -10px;}
#placesList2 .cityItem .marker_2 {background-position: 0 -56px;}
#placesList2 .cityItem .marker_3 {background-position: 0 -102px}
#placesList2 .cityItem .marker_4 {background-position: 0 -148px;}
#placesList2 .cityItem .marker_5 {background-position: 0 -194px;}
#placesList2 .cityItem .marker_6 {background-position: 0 -240px;}
#placesList2 .cityItem .marker_7 {background-position: 0 -286px;}
#placesList2 .cityItem .marker_8 {background-position: 0 -332px;}
#placesList2 .cityItem .marker_9 {background-position: 0 -378px;}
#placesList2 .cityItem .marker_10 {background-position: 0 -423px;}
#placesList2 .cityItem .marker_11 {background-position: 0 -470px;}
#placesList2 .cityItem .marker_12 {background-position: 0 -516px;}
#placesList2 .cityItem .marker_13 {background-position: 0 -562px;}
#placesList2 .cityItem .marker_14 {background-position: 0 -608px;}
#placesList2 .cityItem .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

#plan .itemBox {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#savePlan{
	position:relative;
	left:150px;
	background-color: rgb(89, 180, 168);
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=button], input[type=submit], button[type=button] {
  background-color: rgb(89, 180, 168);
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


body {
	margin: 0px
}



  table {
    width: 60px;
    border: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;
  }
  
  

.itemBox {

    border:solid 1px black;

    width:400px;

    height:50px;

    padding:10px;

    margin-bottom:10px;

}

.itemBoxHighlight {

    border:solid 1px black;

    width:400px;

    height:50px;

    padding:10px;

    margin-bottom:10px;

    background-color:yellow;

}

.deleteBox {

    float:right;

    display:none;

    cursor:pointer;

}