<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<head>
    <meta charset="utf-8">
    <title>지도 생성하기</title>
    
</head>
<body>
   
  <div layout:fragment="content">  
	 <div style="height:150px; background-color: black;" ></div>
<!-- <!-- 지도를 표시할 div 입니다 -->
<div class="hero-wrap js-fullheight" id="map" style="width:100%; height:650px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=206513eac626482c9050af4d937d257a
"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption); 
</script> -->

</div>
</body>
</html>